.Weather {
  font-family: "Times New Roman", Times, serif;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  box-shadow: 4px -9px 22px rgba(6, 1, 31, 0.2);
}

.Weather h1 {
  color: #011f4d;
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
  font-weight: 100;
  margin: 20px 0 0 20px;
  line-height: 29px;
}
.Weather h2 {
  color: #013077;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: 100;
  margin: 10px 0 0 20px;
  line-height: 29px;
}

form {
  font-family: "Times New Roman", Times, serif;
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
  padding: 10px;
  border-width: 0px;
  border-style: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.Weather ul {
  color: #013077;
  margin: 10px;
  padding: 10px;
}

.Weather li {
  color: #013077;
  margin: 5px;
  font-size: 25px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(49, 59, 77);
  font-size: 64px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
}

.WeatherTemperature {
  font-size: 25px;
}

.d-flex {
  padding: 0 0 0 50px;
}

.btn-primary :hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  font-size: larger;
}

span.temp {
  padding: 10px;
}

.Weather .unit {
  color: rgb(41, 46, 49);
  font-size: 20px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
